#container {
    display: flex;
      flex-direction: column;
    height: 1000px;
    width: 1000px ;
    
    
    }

    #reset { 
       border-radius: 1px;
       padding: 4px;


    }

    
    .row { 
      
      border: 1px solid black;
      height: 1000px;
      display: flex;
     
    
    }
    
    .box {
      border: 1px solid black;
     
      width: 1000px;
     
    }

    .boxHovered {
        background-color: black;
    }
    